body {
	font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#headerLogo {
	font-family: "Gill Sans MT";
	font-size : 30px;
	margin-top: 4px;
}
#loginForm, #loginFormExternalLinks {
	width : 390px;
	margin : auto;
}

#loginFormExternalLinks > a {
	margin-top : 20px;
	margin-right : 20px;
}

#loginForm {
	margin-top : 35px;
}

#loginForm > button {
	margin-top : 10px;
	margin-right : 10px;
	float : right;
}

.centerMessage {
	margin: auto;
	padding-top : 60px;
	width : 100%;
}

#messagePanel {
	width : 100%;
	margin: 50px 0 0;
	padding-top : 10px;
	background-color: #eee;
}

#messagePanel > .message-block {
	width : 500px;
	margin: auto;
	padding: 10px;
}
