body {
	font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#headerLogo {
	font-family: "Gill Sans MT";
	font-size : 30px;
	margin-top: 4px;
}
#loginForm, #loginFormExternalLinks {
	width : 390px;
	margin : auto;
}

#loginFormExternalLinks > a {
	margin-top : 20px;
	margin-right : 20px;
}

#loginForm {
	margin-top : 35px;
}

#loginForm > button {
	margin-top : 10px;
	margin-right : 10px;
	float : right;
}

.centerMessage {
	margin: auto;
	padding-top : 60px;
	width : 100%;
}

#messagePanel {
	width : 100%;
	margin: 50px 0 0;
	padding-top : 46px;
	background-color: #eee;
}

#messagePanel > .message-block {
	width : 500px;
	margin: auto;
}

#reportPage {
	margin : auto;
	padding: 0 0 62px;
}

#reportPage > .panel{
	width : 700px;
	margin : auto;
}

.googleMapPanel {
	margin: 20px 0;
}

.divRidesharePossible, .ridesharePossible {
	width : 95%;
	margin : auto;
}

.ridesharePossible tbody tr{
	height : 231px;
}

.ridesharePossible tbody td {
	border-right: 1px solid beige;
}

.ridesharePossible th {
	width : 10%;
	text-align: center;
}
.ridesharePossible tbody tr td {
	vertical-align : middle;	
}

.ridesharePossible .firstCol {
	text-align: center;
	font-weight: bold;
}

#rideInfoModal p {
	font-size : 14px;
}

#rideInfoModal .modal-dialog { 
	width : 1200px;
}

#rideInfoModal .info {
	width : 70%;	
}
#rideInfoModal #infoUser {
	height : 94px;	
}

#rideInfoModal #infoRide {
	height : 30px;	
}

#rideInfoModal .info .leftColumn { 
	float:left;
}

#rideInfoModal .info .rightColumn { 
	margin-left: 50%;
}

#rideInfoModal .modal-dialog .modal-footer {
	margin-top : 20px;
}