form {
	margin : auto;
	margin-top : 100px;
	width : 400px;
}

label {
	float : left;
}

input, textarea {
	float : right;
	width : 240px;
}

button {
	margin-top : 20px;
}

#loginButton {
	margin-left : 270px;
}

#suggestButton {
	margin-left : 320px;
}


